# =============== #
# Unity generated #
# =============== #

Build/
Library/
Logs/
MemoryCaptures/
Obj/
Temp/
UnityGenerated/
UserSettings/

!/[Aa]ssets/**/*.meta

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vscode

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
